<div class="container m-0">
<h1 class = "font-large">My Tasks!</h1>
<ul class = "ml-0">
  <% @tasks.each do |task| %>
    <li>
      <p><%= task.completed? ? '[X]' : '[ ]' %><%= link_to task.title, task_path(task) %></p>
    </li>
  <% end %>
</ul>
<p><%= link_to 'Create a task', new_path %></p>

</div>
